# Usa mod_rewrite para suporte a URLs amigáveis
RewriteEngine on
# Se $showScriptName for "false" no UrlManager, impede o acesso a URLs que tenham o nome do script (index.php)
RewriteRule ^index.php/ - [L,R=404]
# Se um arquivo ou diretório existe, usa a solicitação diretamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Caso contrário, redireciona para index.php
RewriteRule . index.php
#RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]