RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-l
#RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
RewriteRule ^(.*)$ index.php

#RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

#http://localhost:8000/api/controller/usuario_add.php 
#http://localhost:8000/api/usuario/add 
#http://localhost:8000/api/controlller/produto.php?list=1345
#http://localhost:8000/api/produto/list/1345